.NaviItem {
  margin: 0.8rem 0rem;
  display: block;
  width: 100%;
  font-size: 1.5rem;

  a {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    color: #722ed1;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;

    &:hover,
    &:active,
    &.active {
      color: #ffa902;
      // background-color: rgba(194, 38, 142, 0.2);
    }
  }

}