.DateDisplay {
  align-self: center;
  padding: 0 0.5rem;
  h2 {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    padding: 0 0.2rem;
  }
  @media (max-width: 481px) {
    h2:first-child {
      display: none;
    }
  }
}