.Card {
  width: 92%;
  height: 96%;
  margin: 0;
  // background-color: white;
  opacity: 0.9;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.4);
  
  @media (min-width:481px) {
    width: 80%;
    height: 70%;
    max-height: 96%;
    max-width: 92%;
    margin: auto;
    border-radius: 2rem;
  }

  section {
    width: 100%;
    @media (min-width:481px) {
      height: 50%;
      // position: relative;
    }
  }
}

.UpperWrapper {
  // min-height: 30rem;
  position: relative;;
  // display: flex;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
}

.WeatherInfo {
  @media (min-width:481px) {
    width: 50%;
    position: absolute;
    top:0;
    right: 0;
    color: white;
    z-index: 20;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

.BottomWrapper {
  color: #222;
  background-color: #222222;
  padding: 1.5rem;
  height: auto;
  display: flex;
  border-radius: 0 0 2rem 2rem;
}

.FutureWeather {
  ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    li {
      width: 15%;
      display: inline-block;
      text-align: center
    };
  }
  h2, h3{ 
    display: inline-block;
    color: white;
  };
}